<div class="container">
    <div class="row p-5 justify-content-center">
        <div class="p-5 w-50 shadow border border-warning">
            <div class="card-title h3 bg-warning">
                <p class="p-3">LOG IN</p>
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                    <div>
                        <label for="email" class="h5">Email id<i class="text-danger">*</i></label>
                        <input type="text" class="form-control" id="email" name="email" formControlName="email"
                            placeholder="Enter email id">
                        <div class="text-danger"
                            *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                            <p *ngIf="loginForm.get('email')?.hasError('required')">Email id is required</p>
                            <p *ngIf="loginForm.get('email')?.hasError('pattern')">Email id is invalid</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="password" class="h5">Password<i class="text-danger">*</i></label>
                        <input type="password" class="form-control" name="password" formControlName="password"
                            placeholder="Enter password">
                        <div class="text-danger"
                            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                            <p *ngIf="loginForm.get('password')?.hasError('required')">Password is required</p>
                            <p *ngIf="loginForm.get('password')?.hasError('minlength')">
                                Password must be at least 8 characters long
                            </p>
                            <p *ngIf="loginForm.get('password')?.hasError('maxlength')">
                                Password allows only 20 characters
                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <a routerLink="/user/signup">Create account</a>
                    </div>
                    <div class="d-flex justify-content-center mt-5 mb-2">
                        <button class="btn btn-success w-50" type="submit" [disabled]="loginForm.invalid">
                            Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>