<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="bottom stickey">
                <div class="p-2 d-flex justify-content-evenly">
                    <div>
                        <h4>Contact us</h4>
                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<small>1233212341</small><br>
                        <i class="fa fa-envelope"></i>&nbsp;<small>sparkles.jewellery@gmail.com</small>
                    </div>
                    <div>
                        <h4>Useful information</h4>
                        <small>Product care <br>Guide<br>Blog</small>
                    </div>
                    <div>
                        <h4>Stay up to date</h4>
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-instagram fa-2x ms-3"></i>
                    </div>
                </div>
                <div class="text-center mt-4 h5 text-secondary">
                    @copyright {{year|date:'y'}}. All rights reserverd
                </div>
            </div>
        </div>
    </div>
</div>