<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="bottom stickey bg-info">
                <div class="p-2 d-flex justify-content-evenly">
                    <div>
                        <h5>Contact us</h5>
                        <i class="fa fa-phone" aria-hidden="true"></i>7489748596<br>
                        <i class="fa fa-envelope"></i>demo@gmail.com
                    </div>
                    <div>
                        <h5>About us</h5>
                    </div>
                </div>
                <div class="text-center">
                    @copyright {{year|date:'y'}}
                </div>
            </div>
        </div>
    </div>
</div>