<div class="row mt-1">
    <div *ngFor="let jewelleryItem of allJewelleryData" class="col-sm-3 p-5">
        <div class="card align-self-stretch mt-2">
            <img class="card-img-top" src={{jewelleryItem.imagePath}} alt="Card image cap" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="view details">
            <div class="card-body">
                <p class="card-text text-center">{{jewelleryItem.productDetail}}</p>
                <p class="card-text text-center">{{jewelleryItem.productPrice| currency:'INR'}}</p>
            </div>
        </div>
    </div>
</div>