<!-- <div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-around col-sm-3 header">
            <button class="" routerLink="/admin/add-product">
                add product
            </button>
            <button class="" routerLink="/admin/view-product">
                View product
            </button>
        </div>
    </div>

<router-outlet></router-outlet>

</div> -->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="navbar navbar-expand-lg navbar-light background fixed-top">
          <div class="navbar-brand ms-3 col-sm-10">
            Admin Dashboard
          </div>
          <div class="col-sm-2 text-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="">
                    Add Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">
                    View Products
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  