<div class="row col-sm-9 mt-4 ms-4">
    <div class="card w-75 p-0">
        <div class="card-header">
            My cart
        </div>
        <div class="row mb-4" *ngFor="let cart of cartList">
            <div class="col-sm-3 d-flex">
                <button class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <input class="form-control text-center" readonly value="{{cart.quantity}}">
                <button class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-danger " (click)="removeProduct(cart.cartId)">
                    Remove
                </button>
            </div>
        </div>
    </div>