<nav class="navbar navbar-expand-lg navbar-light col-sm-12 background">
    <div class="navbar-brand ms-3 p-2 h3 col-sm-2">Jewellery shop</div>
    <div class="collapse navbar-collapse d-flex justify-content-end col-sm-9" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item ">
                <a class="nav-link me-5" routerLink="/users/login" routerLinkActive="activelink">Login</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/users/signup" routerLinkActive="activelink">sign up</a>
            </li> -->
        </ul>
    </div>
</nav>